<h2>Create a Trip</h2>

<form action="/trips" method="POST">

    <div>
        <label for="trip_name">Name:</label>
        <div>
            <input type="text" name="trip[:name]" value="<%= @trip.name %>">
        </div>
    </div>
    <div>
        <label for="trip_duration">Duration:</label>
        <div>
            <input type="text" name="trip[:duration]" value="<%= @trip.duration %>">
        </div>
    </div>
    <div>
        <label for="start_date">Start Date:</label>
        <div>
            <input type="date" name="trip[:start_date]" value="<%= @trip.start_date %>">
        </div>
    </div>
    <br>
    <div>
        <input type="submit" value="Create Trip">
    </div>

</form>
