<h2>Hi there  @<%= current_user.name %></h2>

<div class="links">
  <div class="">
    <%= link_to "View Trips", trips_path %>
  </div>
  <div class="">
    <%= link_to "New Trip", new_trip_path %>
  </div>
</div>
