<h2>Hi @<%= current_user.name %>!</h2>

<div id="trips-container">

</div>

<br>

<div class="links">
  <div class="">
    <%= link_to "View Trips", user_trips_path(current_user.id), :class => "load_trips" %>
  </div>
  <div class="">
    <%= link_to "Add Trip", new_user_trip_path(current_user.id) %>
  </div>
</div>
